@import '../../styles/mixin';

.price {
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    @include tablet {
        padding: 24px 0;
    }

    @include desktop {
        padding: 48px 0;
    }

    &__header {
        margin: 0 0 12px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        @include tablet {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: -0.02em;

            br {
                display: none;
            }
        }

        @include desktop {
            max-width: none;
        }

        span {
            color: var(--color-accent-700);
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0 0 36px;
    list-style: none;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
        column-gap: 24px;
        margin-bottom: 48px;
    }

    @include desktop {
        gap: 48px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    &__icon-wrapper {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin: 0;

        @include tablet {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
    }
}
