@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik.ttf');
    src: local('Rubik'), local('Rubik'),
        url('/fonts/Rubik.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@import './mixin.scss';
@import './colors.scss';
@import './slider.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-primary);
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.main {
    overflow: hidden;
    position: relative;
    margin-top: 64px;
    padding: 0 16px 0;

    @include tablet {
        max-width: 1152px;
        margin-top: 88px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 24px 0;
    }

    @include desktop {
        padding: 0;
    }
}
