@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import './mixin.scss';
@import './colors.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-primary);
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.main {
    position: relative;
    margin-top: 64px;
    padding: 0 16px 0;

    @include tablet {
        max-width: 1152px;
        margin-top: 88px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 24px 0;
    }

    @include desktop {
        padding: 0;
    }
}
