@import './mixin';

.main {
    display: flex;
    flex-direction: column;

    @include tablet {
        max-width: 768px;
        margin: 0 auto;
        padding: 24px 0;
    }

    @include desktop {
        padding: 48px 0;
    }

    h1 {
        margin: 0 0 24px;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;

        @include tablet {
            font-size: 44px;
            line-height: 56px;
        }
    }

    h2 {
        margin: 0 0 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;

        @include tablet {
            font-size: 24px;
            line-height: 32px;
        }

        &:not(:first-of-type) {
            margin-top: 12px;
        }
    }

    h3 {
        margin: 0 0 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        @include tablet {
            font-size: 20px;
            line-height: 28px;
        }

        &:not(:first-of-type) {
            margin-top: 12px;
        }
    }

    p {
        margin: 0 0 12px;
    }

    a {
        text-decoration: none;
        color: var(--color-link-500);
        cursor: pointer;
    }

    ul {
        margin: 0 0 12px;
        padding: 0;
        list-style: none;
    }

    li {
        position: relative;
        padding: 0 0 0 28px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 13px;
            width: 16px;
            height: 1px;
            background-color: var(--color-text-primary);
        }
    }

    .table-title {
        margin-top: 72px;
        font-size: 24px;
        line-height: 32px;

        span {
            display: block;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .table-sub-title {
        font-size: 20px;
        line-height: 28px;
    }

    .table {
        display: flex;
        flex-direction: column;
    }

    .thead {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    .th {
        padding: 12px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.16);

        &:nth-child(1) {
            width: 6.25%;
        }

        &:nth-child(2) {
            width: 66.67%;
        }

        &:nth-child(3) {
            width: 12.5%;
        }

        &:nth-child(4) {
            width: 14.58%;
        }
    }

    .tbody {
        display: flex;
        flex-direction: column;
    }

    .tr {
        display: flex;

        &:not(:last-of-type) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        }
    }

    .tr-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        padding: 12px;

        @include tablet {
            flex-direction: row;
            padding: 0;
            gap: 0;
        }

        &:nth-child(1) {
            .td:first-child {
                font-size: 14px;
                line-height: 20px;
                color: rgba(39, 38, 44, 0.72);

                @include tablet {
                    width: 8.57%;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(39, 38, 44, 1);
                }
            }

            .td:last-child {
                @include tablet {
                    width: 91.43%;
                }
            }

            @include tablet {
                width: 72.92%;
            }
        }

        &:nth-child(2) {
            width: 96px;
            flex-shrink: 0;
            flex-direction: column-reverse;

            @include tablet {
                flex-direction: row;
                padding: 0;
                gap: 0;
                width: 27.08%;
            }

            .td:first-child {
                @include tablet {
                    width: 46.15%;
                }
            }

            .td:last-child {
                font-size: 14px;
                line-height: 20px;
                color: rgba(39, 38, 44, 0.72);

                @include tablet {
                    width: 53.85%;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(39, 38, 44, 1);
                }
            }
        }
    }

    .td {
        &_mobile {
            @include tablet {
                display: none;
            }
        }

        @include tablet {
            padding: 12px;
        }
    }

    .table-date {
        margin-top: 24px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(39, 38, 44, 0.72);
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-secondary);

    @include tablet {
        gap: 12px;
        font-size: 16px;
        line-height: 24px;
    }

    a {
        text-decoration: none;
        color: var(--color-link-500);
        cursor: pointer;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 4px;
    padding: 48px 0;
    border-top: 1px solid var(--color-darkner-16);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @include tablet {
        position: relative;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
        line-height: 28px;
    }

    @include desktop {
        margin-top: 48px;
        padding-bottom: 0;
    }

    p {
        margin: 0;
    }

    a {
        color: var(--color-link-500);
    }
}
