@import '../../styles/mixin';

.header {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--color-background-primary);
    transition: background-color 0.3s, transform 0.2s;

    @include tablet {
        max-width: 1152px;
        left: 50%;
        transform: translateX(-50%);
        padding: 16px 24px;
    }

    @include desktop {
        padding: 16px 0;
    }

    &_fixed {
        position: fixed;
        top: -64px;
        transform: translateY(0);

        @include tablet {
            top: -88px;
        }
    }

    &_show {
        transform: translateY(56px);

        @include tablet {
            transform: translateY(88px);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }

    &__logo {
        @include tablet {
            width: 154px;
            height: 44px;
        }
    }
}
