.wrapper {
    position: relative;

    &_width-auto {
        width: max-content;
    }

    &_width-max {
        width: 100%;
    }
}

.input {
    width: 100%;
    height: 56px;
    border-radius: 16px;
    border: 2px solid var(--color-darkner-16);
    padding: 16px;
    background-color: color(--color-white);
    color: inherit;

    &::placeholder {
        font-weight: 400;
        color: var(--color-text-third);
    }

    &:hover {
        border-color: var(--color-darkner-48);
    }

    &:focus {
        outline: none;
        border-color: var(--color-accent-500);
    }

    &_error {
        border-color: var(--color-error-500);
    }

    &_full {
        padding-right: 40px;
    }
}

.error {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-error-500);
}

.cross-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    background-color: transparent;

    &:hover {
        outline: none;

        svg path {
            fill: var(--color-accent-600);
        }
    }
}

.cross-icon {
    width: 10.5px;
    height: 10.5px;
}
